.elementor-8516 .elementor-element.elementor-element-791e5814:not(.elementor-motion-effects-element-type-background),
.elementor-8516 .elementor-element.elementor-element-791e5814>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8516 .elementor-element.elementor-element-791e5814 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 0px 0px;
}

.elementor-8516 .elementor-element.elementor-element-791e5814>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8516 .elementor-element.elementor-element-b265eea:not(.elementor-motion-effects-element-type-background),
.elementor-8516 .elementor-element.elementor-element-b265eea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8516 .elementor-element.elementor-element-b265eea {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8516 .elementor-element.elementor-element-b265eea>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8516 .elementor-element.elementor-element-f0870e3 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-f0870e3 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-f0870e3 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-f0870e3 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-f0870e3 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-f0870e3>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-3ba1c07>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-74fef5e figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-74fef5e .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-74fef5e .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-74fef5e .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-74fef5e .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-74fef5e>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-7437fcc figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-7437fcc .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-7437fcc .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-7437fcc .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-7437fcc .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-7437fcc>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-d115fbc figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-d115fbc .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-d115fbc .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-d115fbc .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-d115fbc .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-d115fbc>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-ae57dd2>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-7d06d1f6>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-89b48fc figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-89b48fc .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-89b48fc .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-89b48fc .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-89b48fc .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-89b48fc>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-cfafb5e>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-6f7c120 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-6f7c120 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-6f7c120 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-6f7c120 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-6f7c120 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-6f7c120>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-d526809 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-d526809 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-d526809 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-d526809 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-d526809 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-d526809>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-5cf46735 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-5cf46735 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-5cf46735 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-5cf46735 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-5cf46735 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-5cf46735>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-ab4fed0>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-12298c5 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-12298c5 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-12298c5 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-12298c5 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-12298c5 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-12298c5>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-10de8a8 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-10de8a8 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-10de8a8 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-10de8a8 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-10de8a8 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-10de8a8>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-ca65613 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-ca65613 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-ca65613 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-ca65613 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-ca65613 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-ca65613>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-cbc40dc>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-a314628 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-a314628 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-a314628 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-a314628 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-a314628 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-a314628>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-adc2835 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-adc2835 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-adc2835 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-adc2835 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-adc2835 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-adc2835>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-7d9a6e7>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-172767f5 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-172767f5 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-172767f5 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-172767f5 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-172767f5 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-172767f5>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-71e7f74 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-71e7f74 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-71e7f74 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-71e7f74 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-71e7f74 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-71e7f74>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-05115cf figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-05115cf .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-05115cf .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-05115cf .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-05115cf .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-05115cf>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-1bc4c23>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}

.elementor-8516 .elementor-element.elementor-element-ff15f63 figure.ot-image-box__img {
    margin-bottom: 20px;
}

.elementor-8516 .elementor-element.elementor-element-ff15f63 .ot-image-box__img img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-8516 .elementor-element.elementor-element-ff15f63 .ot-image-box:hover .ot-image-box__img img {
    box-shadow: 9px 9px 24px 0px rgba(0, 0, 0, 0.08);
}

.elementor-8516 .elementor-element.elementor-element-ff15f63 .ot-image-box {
    text-align: center;
}

.elementor-8516 .elementor-element.elementor-element-ff15f63 .image-box-title {
    margin-bottom: 0px;
    font-size: 18px;
}

.elementor-8516 .elementor-element.elementor-element-ff15f63>.elementor-widget-container {
    margin: 0px 0px 35px 0px;
}